	
	.desc {
		color: #101c38;
		font-size: 14px;
		font-weight: normal;
		overflow-x: hidden;
		word-wrap: break-word;
		text-rendering: optimizeLegibility;
	}

    .wavy {
        
    }

html{
    -webkit-text-size-adjust:100%
}
b{
    color:#242424
}
img{
    border:0
}
body{
    overflow-x:hidden;
    text-rendering:optimizeLegibility;
    word-wrap:break-word
}
body,h1,h2{
    text-rendering:optimizeLegibility
}
em,i{
    font-style:italic
}
body{
    word-wrap:break-word
}
.entry-content a{
    text-decoration:none
}
h1,h2{
    font-weight:400
}
.entry-content:after,.site-footer:after,article[class^=post-]:after{
    clear:both
}
article,header,main{
    display:block
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    box-sizing:border-box
}
a{
    background-color:transparent
}
a:hover{
    text-decoration:wavy underline;
}
a.contact{
    color: #007AFF
}
a.contact:hover{
    text-decoration:wavy underline;
    color: #007AFF
}
b{
    font-weight:700
}
h1{
    line-height:1.7em
}
img{
    vertical-align:middle
}
body{
    color:#101c38;
    font-family: Rubik;
    font-size:15px;
    font-weight:400;
    line-height:1.75
}
body{
    margin:0;
    -webkit-overflow-scrolling:touch;
    -webkit-text-size-adjust:none;
    background:#fff;
    opacity:0;
    padding:4%;
    -webkit-transition:opacity .25s ease-in .1s;
    transition:opacity .25s ease-in .1s
}
h1,h2{
    clear:both;
    margin:0;
    -webkit-font-variant-ligatures:common-ligatures;
    -moz-font-variant-ligatures:common-ligatures;
    font-variant-ligatures:common-ligatures
}
h1{
    margin-bottom:4%
}
h1.extra{
    font-weight: bold;
       
}
h2{
    font-weight:600;
    margin-bottom:20px
}
.entry-content p{
    font-size:19px;
    letter-spacing:-.04rem;
 
}
p{
    margin:0 0 4%
}
a{
    text-decoration:none
}
*,:after,:before{
    box-sizing:inherit
}
.no-js body{
    opacity:1
}
::-moz-selection{
    background:#f1f1f1
}
::selection{
    background:#f1f1f1
}
img{
    height:auto;
    max-width:100%
}
::-webkit-input-placeholder{
    color:#909090
}
:-moz-placeholder{
    color:#909090
}
::-moz-placeholder{
    color:#909090;
    opacity:1
}
:-ms-input-placeholder{
    color:#909090
}
a{
    color:inherit
}
a:active,a:hover{
    outline:0
}
.entry-content:after,.entry-content:before,.site-footer:after,.site-footer:before,article[class^=post-]:after,article[class^=post-]:before{
    display:table;
    content:""
}
.header a:hover{
    text-decoration:wavy underline
}
.page-container{
    margin:0 auto;
    -webkit-transition:all 500ms;
    transition:all 500ms
}
.header.brick{
    opacity:1;
    padding-left:0
}
.site-footer{
    color:#bbb;
    font-size:13px;
    line-height:1.8em;
    margin-top:40px
}
.site-footer a{
    color:#bbb
}
article.page{
    margin:6% auto 11%;
    max-width:600px
}
.brick{
    float:left;
    overflow:hidden;
    padding:1%;
    width:16.6666%
}
.brick .inner{
    margin:0 auto;
    padding:0%
}
.brick.header .inner{
    padding-left:0
}
.brick.brick-fullwidth{
    padding:0;
    width:83.3334%
}
@-moz-document url-prefix(){
}
@-ms-viewport{
    width:device-width
}
@-o-viewport{
    width:device-width
}
@viewport{
    width:device-width
}
@media only screen and (max-width:2300px){
    .brick{
        width:20%
    }
    .brick.brick-fullwidth{
        width:80%
    }
}
@media only screen and (max-width:1850px){
    body{
        padding:6%
    }
    .brick{
        width:25%
    }
    .brick.brick-fullwidth{
        width:75%
    }
    article.page{
        margin:9% auto 14%
    }
}
@media only screen and (max-width:1450px){
    body{
        padding:7%
    }
    .brick{
        padding:1.5%;
        width:33.333%
    }
    .brick.brick-fullwidth{
        width:66.666%
    }
    article.page{
        margin:14% auto 20%
    }
}
@media only screen and (max-width:900px){
    body{
        padding:7%
    }
    .brick{
        padding:2%;
        width:33.333%
    }
    .brick.brick-fullwidth{
        width:66.666%
    }
}
@media only screen and (max-width:768px){
    .brick,.brick.brick-fullwidth{
        width:100%
    }
    .header{
        text-align:center
    }
    body{
        padding:0 11% 11%
    }
    .brick{
        padding:0
    }
    .site-footer{
        display:none
    }
    .brick.header .inner{
        padding-right:0
    }
}
@media only screen and (max-width:650px){
    .brick{
        padding-bottom:2.2%
    }
}
@media only screen and (max-width:500px){
    body{
        padding:4%
    }
    .site-footer{
        display:none
    }
}
@media only screen and (max-width :414px){
    .entry-content h2,p{
        margin-bottom:5%
    }
    .header .inner{
        padding:15%
    }
}
